{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    ["import", {
      "libraryName": "antd-mobile",
    "libraryDirectory": "lib",
    "style": "css"}]
  ]
}
