:root {
  --backgroundColor: #EFF3F6;
  --WhiteColor: #fff;
  --primaryColor: #1372d8;
  --fontColor66: #666;
  --Colorbb: #bbb;
  --changeButtonColor: #2db7f5;
  --fontColor99: #999;
  --greenColor: #5CB85C;
  --greenSubColor: #A0D194;
  --yellowButtonColor: #FF7316;
  --yellowSubColor: #FFBD94;
  --borderColor: #F9FBFC;
  --color94: #949494;
}
